@import "tailwindcss";

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

#carousal {
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}