@import "tailwindcss";

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

#carousal {
  animation: rotate 10s linear infinite;
}

#glass_bg {
/* From https://css.glass */
background: rgba(255, 205, 0, 0.98);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(12.4px);
-webkit-backdrop-filter: blur(12.4px);
border: 1px solid rgba(255, 205, 0, 0.9);
}

#car {
  box-shadow: inset 5px 5px 24px 10px rgba(0,0,0,0.5);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* #headerText {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid yellow;
  width: 0;
  animation: typing 3.5s steps(20, end) forwards, blink-caret 0.75s step-end infinite;
}

@keyframes typing {
 from {width: 0;}
 to {width: 100%;}
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: yellow;
  }
} */