@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
 /* padding: 0; */
  /* margin: 0; */
  box-sizing: border-box;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100dvh;
  background-color: #cec292;
  /* 
  background-image: linear-gradient(rgba(253, 250, 114, 1), rgba(0, 0, 0, 0));
  background-size: 100% 800px;
  background-repeat: no-repeat; */
}

/* #header {
  background-image: url(./assets/page_bg.jpeg);
  background-size: 70%;
  background-repeat: repeat;
} */

#header-head {
  box-shadow: inset 0 0 20px 4px rgba(0,0,0,0.8);
}

#headerText,
#menu, #itemName {
  font-family: 'Cormorant Garamond';
}

#itemName {
  font-weight: 600;
}

#description {
  font-family: 'Roboto';
}