* {
 /* padding: 0; */
  /* margin: 0; */
  box-sizing: border-box;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 2rem;
}